mock~=4.0.3
torch~=1.9.0
torchvision~=0.10.0
pillow~=8.3.1
numpy~=1.19.2
scikit-learn~=0.24.2
pyyaml~=5.4.1
prettytable~=2.1.0
requests~=2.26.0
einops~=0.3.0
matplotlib~=3.4.2
tensorboardx~=2.4
foolbox~=3.3.1
scikit-image~=0.18.2
wand~=0.6.6
scipy~=1.7.0
tqdm~=4.59.0
easydict
tensorboardXskimage
einops
scikit-image
wand
opencv-python
adversarial-robustness-toolbox
ffmpeg-python
